<div>
    <div class="cui__utils__heading">
        <strong>Add-Wastages</strong>
    </div>
    <div class="card">
        <div class="card-header card-header-flex" style="border-bottom: 0;">

            <div class="d-flex flex-column justify-content-center mr-auto">
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input type="text" nz-input placeholder="Search Products" />
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
                </ng-template>
            </div>
            <div class="col-sm-auto row">
                <button type="button" (click)="showModal()" style="height: 32px; margin-top: 16px;width: 122px;"
                    class="btn btn-success  ">+
                    Add-Wastage</button>

                <!-- <button type="button" style="height: 32px; margin-top: 16px;width: 77px;"
                    class="btn btn-success  pull-right">Save</button> -->

            </div>

        </div>

        <nz-modal [(nzVisible)]="isVisible" nzTitle="Add-Wastage" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
            [nzOkLoading]="isOkLoading">
            <span> <strong>Product</strong> </span>
            <input nz-input placeholder="" /> <br> <br>
            <span><strong>Wastage</strong> </span>
            <input nz-input placeholder="" /><br> <br>
            <!-- <span>Product</span>
            <input nz-input placeholder="Basic usage" /> -->
        </nz-modal>
        <!-- <div class="card-body"> -->
        <nz-table #basicTable class="kit__utils__table mb-4" nzSize="small" [nzData]="">
            <thead>
                <tr>
                    <th style="text-align: center;">
                        <strong>
                            Product Name
                        </strong>
                    </th>
                    <th style="text-align: center;">
                        <strong>
                            Category
                        </strong>
                    </th>
                    <th style="text-align: center;">
                        <strong>
                            Stock Qty
                        </strong>
                    </th>
                    <th style="text-align: center;">
                        <strong>
                            Expiary Date
                        </strong>
                    </th>
                    <th style="text-align: center;">
                        <strong>
                            Unit
                        </strong>
                    </th>

                    <th style="text-align: center;">
                        <strong> Wastage Qty</strong>
                    </th>


                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>



                </tr>
            </tbody>
        </nz-table>
    </div>
</div>